---
import { readdir } from "node:fs/promises";
import { readFile } from "node:fs/promises";
import { Content as TestBanner } from "../content/docs/index.mdx";

const { dirName } = Astro.props;

const examples = [];
//console.log(Astro);
try {
  const files = await readdir(`./src/content/docs/${dirName}/`);

  for (const file of files) {
    const content = await readFile(`./src/content/docs/${dirName}/${file}`, {
      encoding: "utf8",
    });
    examples.push({ file, content });
  }
  //console.log(examples);
} catch (err) {
  console.error(err);
}

//test
/* import { getEntryBySlug } from "astro:content";
import { getEntries } from "astro:content";
const entry: any = await getEntries("docs", "index");

const { Content } = await entry.render(); */
//test
---

<!-- <Content /> -->
<TestBanner />
{
  examples.map((example) => {
    return (
      <>
        <h2>{example.file}</h2>
        <p>{example.content}</p>
      </>
    );
  })
}
